@import "../../containers/WelcomePage/welcomePage.scss";

.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  height: 100px;
  width: 100vw;
  background-color: $basic-bkg;
  color: $basic-color;
  font-family: 'Roboto', 'Helvetica Neue', sans-serif;

  &__members {
    display: inline-flex;

    @media screen and (max-width: 599px) {
      display: flex;
      flex-direction: column;
    }
  }

  &__dev-link,
  &__year {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 8px;
    text-decoration: none;
    color: $basic-color;
    font-size: 16px;
  }

  &__dev-link {
    @media screen and (max-width: 599px) {
      margin: 2px;
      flex-direction: row;
      font-size: 12px;
    }
  }
}
